<!DOCTYPE html>
<html lang="en">

<head>
   <%- include partials/head %>
</head>
<body>
    <div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <!-- START Top Navbar-->
         <%- include partials/topnavbar %>
      </header>
        <!-- sidebar-->
      <aside class="aside">
         <!-- START Sidebar (left)-->
         <%- include partials/aside %>
      </aside>
      <!-- Page content-->
      <section class="content-wrapper" id="result">
         <%- include pagers/buttons %>
      </section>
</body>
<%- include partials/script %> 
<!-- <script type="text/javascript">
   var $result = $('#result'); 
   
   $result.load('/user');
</script> -->

</html>











